<div class="modal-container">
    <div class="modal-overlay"></div>
    <div class="relative z-[999] bg-white rounded-xl p-modal p-4 mobile:w-[70%] tablet:w-[20%] desktop:w-[25%]   flex items-center justify-center">
            <div class="flex flex-col items-center justify-center">
                <img src="../../../../assets/icons/spinner.svg" class="motion-safe:animate-spin"/>
                <span class="text-heading text-2xl mb-5">Processing...</span>
                <span class="text-primary700 text-center">
                    Please wait for a few seconds as we are processing your request
                </span>
            </div>
    </div>
</div>