<div class="w-full text-center relative">
    <input type="text" [(ngModel)]="displayLabel" (focus)="onFocus()" (blur)="onBlur()"
        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:focus:ring-blue-500 dark:focus:border-blue-500 {{borderStyles}}"
        required>
    <div class="absolute top-12 z-50 w-full bg-white shadow-xl overflow-y-scroll" *ngIf="dropDown"
        style="max-height: 200px;">
        <ng-container *ngIf="data.length > 0">
            <ng-container *ngFor="let item of data">
                <div (mousedown)="selectItem(item)" class="p-2 cursor-pointer hover:bg-gray-200 text-left">
                    <span class="text-[14px] leading-[16px] font-[400] ">
                        {{item[label]}}
                    </span>
                </div>
            </ng-container>
        </ng-container>
    </div>

</div>