<div class="flex flex-col gap-10 px-3">
    <div></div>
    <div class="flex justify-between gap-5 pb-0">
        <p class="text-4xl">Majestic Mountains Expedition...</p>
        <div class="flex gap-5 items-center">
            <button class="btn rounded-full px-4 btn-light-filled w-full uppercase"
                (click)="openAdjustmentModal()">Adjustment</button>
            <button class="btn rounded-full px-4 btn-light-filled w-full uppercase">Completed</button>
            <!-- <app-state-pill  [pillText]="'Completed'" [pillStyle]="'table-state-pill table-state-pill-success'"></app-state-pill> -->
        </div>
    </div>

    <div class="flex flex-col gap-7 w-full pl-2">
        <div class="grid grid-cols-6">
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm">CUSTOMER</span>
                <span class="flex gap-2 items-center">
                    <div class="w-6 h-6 rounded-full bg-gray-500"></div> 
                    <p>Leon S. Kennedy</p>
                </span>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm tracking-widest">TOUR DURATION</span>
                <span>24 Days</span>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm tracking-widest">BALANCE</span>
                <span>$20,000</span>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm tracking-widest">PAID</span>
                <span>$20,000</span>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm tracking-widest">TOTAL</span>
                <span>$20,000</span>
            </div>
            <div class="place-self-end">
                <button class="btn rounded-full px-4 btn-light-filled"><img src="../../../../assets/images/eye-.svg"
                        class="text-left px-3 " />
                    TOUR DETAILS</button>
            </div>
        </div>
        <div class="grid grid-cols-6">
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm">NEXT INVOICE DATE</span>
                <span class="flex">
                    <input matInput [matDatepicker]="datepicker" class="w-[85px]">
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                </span>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm">LAST INVOICED</span>
                <span>13/15 </span><span><input type="date" #datePicker style="display: none;" /></span>
            </div>
            <div class="flex flex-col gap-2 relative " (mousedown)="showDuration()" clickOutside
                (clickOutside)="closeDuration()">
                <span class="text-gray-500 text-sm">BILLING CYCLE</span>
                <div class="flex justify-between w-[100px] capitalize"><span>{{selectedDuration}}</span>
                    <span>
                        <mat-icon *ngIf="showDurationDropdown">expand_less</mat-icon>
                        <mat-icon *ngIf="!showDurationDropdown">expand_more</mat-icon>
                    </span>
                </div>
                <div class="bg-white border border-primary500 rounded-xl w-[200px] px-4 text-xs py-5 absolute top-14"
                    *ngIf="showDurationDropdown">
                    <div class="text-xs pl-4 py-2 border border-white hover:border-primary500 font-semibold flex justify-between items-center {{(selectedDuration === period?.name)?'bg-[#EDF6FF]':''}}"
                        *ngFor="let period of durationArray" (click)="selectDuration(period.name)">
                        <span>{{period?.name}}</span><span *ngIf="selectedDuration === period?.name"><img class="pr-3"
                                src="../../../../assets/images/check.svg" /></span>
                    </div>
                    <!-- <div
                        class="text-xs pl-4 py-2 font-semibold bg-[#EDF6FF] rounded-md flex justify-between items-center hover:border-primary500">
                        MONTHLY
                        <img class="pr-1" src="../../../../assets/images/check.svg" />
                    </div> -->
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm">ADJUSTMENT</span>
                <span>2</span>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-gray-500 text-sm">ADJ. AMOUNT</span>
                <span>$20,000</span>
            </div>

        </div>
    </div>

    <div *ngIf="adjustmentModal"  class="bg-black/[.32] backdrop-blur w-screen h-screen z-[900] fixed top-0 left-0 flex flex-col justify-center items-center">
        <div class="bg-white h-fit w-fit min-w-[50%] rounded-lg p-4">
            <div class="flex items-end justify-end w-full">
                <div class="rounded-full bg-gray-200 flex items-center justify-center"><mat-icon class="text-black">close</mat-icon></div>
            </div>
            <div class="flex justify-between">
                <span class="text-3xl font-bold">Adjustments</span>
                <span class="pr-5"><button class="border border-primary300 rounded-xl text-primary300 py-3 px-4"
                        (click)="addAdjustment()"><span class="px-2 text-xl ">+</span> ADD
                        ADJUSTMENT</button></span>
            </div>
            <div class="mt-7">
                <form action="" [formGroup]="adjustmentForm">
                    <table>
                        <tbody formArrayName="adjustmentArray">
    
                            <tr *ngFor="let adjustment of adjustments.controls; let i = index" [formGroupName]="i"
                                class="my-3">
                                <td>
                                    <span class="text-xs text-[#ADB5BD] pr-4">{{i + 1}}</span>
                                </td>
                                <td>
                                    <div class="flex flex-col mr-2">
                                        <label for="" class="text-sm text-[#ADB5BD] tracking-wide my-3">BILLING
                                            CYCLE</label>
                                        <input type="number" value="2"
                                            class="text-lg  outline-none border border-white hover:border-primary500 focus:border-primary500 py-3 rounded-lg pl-2"
                                            formControlName="adjusted_cycle">
                                    </div>
                                </td>
                                <td>
                                    <div class="flex flex-col mr-2">
                                        <label for="" class="text-sm text-[#ADB5BD] tracking-wide my-3">ADJUSTED
                                            AMOUNT</label>
                                        <input type="number" value="1"
                                            class="outline-none border border-white hover:border-primary500 focus:border-primary500 py-3 rounded-lg pl-2"
                                            formControlName="adjusted_amount">
                                    </div>
                                </td>
                                <td>
                                    <div class="flex flex-col">
                                        <label for="" class="text-sm text-[#ADB5BD] tracking-wide  my-3">DESCRIPTION</label>
                                        <input type="text" value="1"
                                            class="outline-none border border-white hover:border-primary500 focus:border-primary500 py-3 rounded-lg text-ellipsis pl-2"
                                            formControlName="description">
                                    </div>
                                </td>
                                <td class="flex">
                                    <span class="px-4"><img src="../../../../assets/images/eye-.svg" /></span>
                                    <mat-icon class="text-red-700">delete</mat-icon>
                                </td>
                            </tr>
                        </tbody>
    
                    </table>
                </form>
                <div>
                    <div class="grid grid-cols-2 mt-5 gap-3">
                        <button
                            class=" bg-background-accent text-primaryA uppercase tracking-wider border border-[#f1f3f5] hover:border-[#013c9f] focus:ring-4 focus:ring-[#013c9f] font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2">Cancel</button>
                        <button
                            class="bg-primaryA text-white uppercase tracking-wider hover:[#013c9f] focus:ring-1 focus:ring-[#013c9f] font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
                            (click)="submit()">Save</button>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <app-modal (closeModal)="closeAdjustmentModal()" *ngIf="adjustmentModal">

        <div class="flex justify-between">
            <span class="text-3xl font-bold">Adjustments</span>
            <span class="pr-5"><button class="border border-primary300 rounded-xl text-primary300 py-3 px-4"
                    (click)="addAdjustment()"><span class="px-2 text-xl ">+</span> ADD
                    ADJUSTMENT</button></span>
        </div>
        <div class="mt-7">
            <form action="" [formGroup]="adjustmentForm">
                <table>
                    <tbody formArrayName="adjustmentArray">

                        <tr *ngFor="let adjustment of adjustments.controls; let i = index" [formGroupName]="i"
                            class="my-3">
                            <td>
                                <span class="text-xs text-[#ADB5BD] pr-4">{{i + 1}}</span>
                            </td>
                            <td>
                                <div class="flex flex-col mr-2">
                                    <label for="" class="text-sm text-[#ADB5BD] tracking-wide my-3">BILLING
                                        CYCLE</label>
                                    <input type="number" value="2"
                                        class="text-lg  outline-none border border-white hover:border-primary500 focus:border-primary500 py-3 rounded-lg pl-2"
                                        formControlName="adjusted_cycle">
                                </div>
                            </td>
                            <td>
                                <div class="flex flex-col mr-2">
                                    <label for="" class="text-sm text-[#ADB5BD] tracking-wide my-3">ADJUSTED
                                        AMOUNT</label>
                                    <input type="number" value="1"
                                        class="outline-none border border-white hover:border-primary500 focus:border-primary500 py-3 rounded-lg pl-2"
                                        formControlName="adjusted_amount">
                                </div>
                            </td>
                            <td>
                                <div class="flex flex-col">
                                    <label for="" class="text-sm text-[#ADB5BD] tracking-wide  my-3">DESCRIPTION</label>
                                    <input type="text" value="1"
                                        class="outline-none border border-white hover:border-primary500 focus:border-primary500 py-3 rounded-lg text-ellipsis pl-2"
                                        formControlName="description">
                                </div>
                            </td>
                            <td class="flex">
                                <span class="px-4"><img src="../../../../assets/images/eye-.svg" /></span>
                                <mat-icon class="text-red-700">delete</mat-icon>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </form>
            <div>
                <div class="grid grid-cols-2 mt-5 gap-3">
                    <button
                        class=" bg-[bg-[#f1f3f5]] text-[#013c9f] border border-[#f1f3f5] hover:border-[#013c9f] focus:ring-4 focus:ring-[#013c9f] font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2">Cancel</button>
                    <button
                        class="bg-[#013c9f] text-white hover:[#013c9f] focus:ring-1 focus:ring-[#013c9f] font-medium rounded-lg text-sm px-12 py-2.5 mr-2 mb-2"
                        (click)="submit()">Save</button>

                </div>
            </div>
        </div>
    </app-modal> -->

    <app-adjustment action="edit" (adjustmentData)="getAdjustmentData($event)"
        [adjustmentModal]="false"></app-adjustment>

    <app-main-page [addEntityCTALabel]="'New Invoice'" [hasTable]="true" [emptyTableIcon]="'request_quote'"
        [columns]="tableColumns" [tableData]="invoiceList">
        <!-- <pilgrim-table *ngIf="invoiceList.length > 0" [tableContainerClass]="''" [tableClass]="'w-full text-sm'"
            [tableHeadClass]="'bg-gray-100'" [columns]="tableColumns"
            [columnTemplates]="{ pin: pinColumn,totalAmount:totalAmountColumn ,status: statusColumn, view:viewColumn }"
            [dataSource]="invoiceList"
            [tableBodyRowClass]="'p-6 transition duration-300 transform-gpu hover:-translate-y-1 hover:shadow-xl'"></pilgrim-table> -->

        <ng-template #pinColumn>
            <img src="../../../../assets/icons/pin.svg" alt="">
        </ng-template>

        <ng-template #statusColumn let-item="item">
            <!-- <app-state-pill *ngIf="item.status == 'paid'" [pillText]="item.status"
                [pillStyle]="'table-state-pill table-state-pill-success'"></app-state-pill>
            <app-state-pill *ngIf="item.status == 'pending'" [pillText]="'Unpaid'"
                [pillStyle]="'table-state-pill table-state-pill-warning'"></app-state-pill> -->
        </ng-template>
        <ng-template #totalAmountColumn let-item="item">
            {{item.totalAmount | currency}}
        </ng-template>
        <ng-template #viewColumn let-item="item">
            <!-- <app-table-view-btn></app-table-view-btn> -->
            <img src="../../../../assets/images/eye-.svg" />
        </ng-template>
    </app-main-page>

</div>